.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: orangered;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}